# DB_PASSWORD=Root
# DB_NAME=TesloDB
# DB_HOST=localhost
# DB_PORT= 5432
# DB_USERNAME=postgres


PORT=3001
# PORT=3000
# HOST_API=http://localhost:3000/api
# JWT_SECRET=123456
DATABASE_URL="file:./dev.db"

NATS_SERVERS='nats://localhost:4222'